$accent: #000;
$red: #ff0007;
/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body{
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  min-width: 320px;
  position: relative;
  background: #FFF;
  max-width: 3000px;
  margin: auto;
  color: $accent;
}

header, section, footer{
  margin: auto;
}

a{
  text-decoration: none;
  &:focus{
    outline: none!important;
  }
}

a:hover, a:focus, a:active{
  text-decoration: none;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, button{
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
figure{
  margin: 0;
  img{
    width: auto;
    max-width: 100%;
    vertical-align: top;
  }
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
  }
}
p, a{
  color: $accent;
  margin: 0;
}
input{
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
}
.content-width{
  width: 1310px;
  margin: auto;
}

h1, h2{
  margin: 0 0 30px;
}
h3{
  margin: 0 0 30px;
}
h4{
  margin: 0 0 30px;
}
h5{
  margin: 0 0 10px;
}
h6{
  margin: 0 0 10px;
}

input:invalid {
  box-shadow: none;
}

input, textarea, button{
  outline: none!important;
}
/*--------------------------------HOME-PAGE-------------------------------*/
header{
  position: relative;
  z-index: 999999;
}
.top-line{
  padding: 21px 0 24px;
  background: #FFF;
  box-shadow: 0px 3px 30px 4px rgba(46, 46, 46, 0.12);
  .content-width{
    display: flex;
    justify-content: space-between;
  }
  .left{
    display: flex;
    align-items: center;
  }
  .logo-wrap{
    margin-right: 32px;
    img{
      vertical-align: top;
    }
    .mob{
      display: none;
    }
  }
  .right{
    padding-top: 4px;
    ul{
      display: flex;
      li{
        margin-left: 11px;
        a{
          display: inline-block;
          position: relative;
          &:after{
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            content: '';
            height: 1px;
            background: #000;
            transform: scaleX(0);
            transition: all .4s ease;
          }
          &:hover{
            &:after{
              transform: scaleX(1);
            }
          }
        }
      }
      li:first-child{
        margin: 0;
      }
      .active{
        a{
          font-weight: 600;
        }
      }
    }
  }
}
.top-menu{
  position: relative;
  top: 3px;
  ul{
    display: flex;
    li{
      margin-right: 18px;
      a{
        display: inline-block;
        position: relative;
        &:after{
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          content: '';
          height: 1px;
          background: #000;
          transform: scaleX(0);
          transition: all .4s ease;
        }
        &:hover{
          &:after{
            transform: scaleX(1);
          }
        }
      }
    }
    li:last-child{
      margin-right: 0;
    }
    .current{
      a{
        font-weight: 600;
      }
    }
  }
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.bg + *{
  position: relative;
  z-index: 2;
}

.home-banner{
  position: relative;
  z-index: 10;
  padding-bottom: 50px;
  .left{
    width: 45%;
    padding: 268px 0 260px;
    p{
      margin-bottom: 22px;
      font-weight: 500;
      line-height: 130%;
    }
  }
  figure{
    display: none;
  }
  .bg{
    .img-right{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(2%, 0);
      width: 643px;
      height: auto;
    }
  }
  .btn-wrap{
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
    a + a{
      margin-left: 23px;
    }
    a:hover{
      opacity: 0.7;
    }
  }
}
h1{
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 54px */
  letter-spacing: -2.7px;
  margin-bottom: 25px;
}
.form-wrap{
  position: relative;
  padding: 40px 0 60px;
  .bg{
    overflow: visible;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
    }
  }
  .content{
    width: 910px;
    margin: auto;
    border-radius: 100px;
    background: #FFF;
    padding: 91px 130px;
    p{
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 16.8px */
      letter-spacing: -0.28px;
      margin-bottom: 15px;
      text-align: center;
    }
    .top{
      margin-bottom: 15px;
    }
  }
  .title-h2{
    text-align: center;
    margin-bottom: 50px;
  }
  ul{
    width: 455px;
    max-width: 100%;
    margin: 0 auto 47px;
    li{
      padding-left: 15px;
      position: relative;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin-bottom: 21px;
      &:before{
        position: absolute;
        top: 10px;
        left: 0;
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: #000;
      }
    }
  }
  .form{
    margin-top: 32px;
  }
  .bottom-link{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    a{
      display: inline-block;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 16.8px */
      letter-spacing: -0.28px;
      position: relative;
      &:after{
        bottom: -1px;
        left: 0;
        width: 100%;
        content: '';
        height: 1px;
        background: #000;
        transition: all .4s ease;
        transform: scaleX(1);
        position: absolute;
      }
      &:hover{
        &:after{
          transform: scaleX(0);
        }
      }
    }
  }
}

.title-h2{
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 54px */
  letter-spacing: -2.7px;
  margin-bottom: 20px;
}

.form-email{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  label{
    display: none;
  }
  button{
    width: 174px;
  }
  input{
    width: calc(100% - 190px);
    border-radius: 90px;
    background:#E8E8E8;
    padding: 0 24px;
    border: none;
    height: 54px;
    line-height: 54px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.28px;
  }
}

.btn-default{
  display: inline-block;
  text-align: center;
  height: 54px;
  padding: 0 20px;
  line-height: 54px;
  border-radius: 40px;
  background: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.28px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover{
    background: #454444;
  }
}

.testimonials{
  position: relative;
  z-index: 5;
  padding: 60px 0 75px;
  .content{
    display: grid;grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
  }
  .title-h2{
    margin-bottom: 100px;
  }
  .item{
    position: relative;
    padding-bottom: 70px;
    blockquote{
      margin: 0;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 38.4px */
      letter-spacing: -0.96px;
    }
    .name-wrap{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      p{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        b{
          font-weight: 600;
        }
      }
    }
  }
}

.support-system{
  padding: 75px 0 60px;
  .title-h1{
    margin: 0 auto 98px;
    width: 620px;
    max-width: 100%;
    text-align: center;
  }
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .left{
    width: 57%;
    border-radius: 32px;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 64px 31px 38px;
    p{
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 21.6px */
      letter-spacing: -0.54px;
    }
  }
  .right{
    width: calc(42% - 20px);
  }
  .sub-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.96px;
  }
  .item{
    border-radius: 28px;
    background: linear-gradient(90deg, rgba(88, 208, 204, 0.80) 0%, rgba(181, 255, 160, 0.80) 100%);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 14px 11px;
    p{
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 28.8px */
      letter-spacing: -0.96px;
      position: relative;
      top: -2px;
    }
    .icon-wrap{
      margin-right: 32px;
      img{
        vertical-align: top;
      }
    }
  }
  .item-link {
    border-radius: 28px;
    background: #F4F4F4;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding: 14px 18px;
    justify-content: space-between;
    p{
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 28.8px */
      letter-spacing: -0.96px;
      position: relative;
      top: -2px;
      padding-left: 15px;
    }
    a{
      display: block;
      width: 64px;
      height: 64px;
      img{
        width: 100%;
        vertical-align: top;
        transition: all .4s ease;
      }
      &:hover{
        img{
          transform: rotate(-45deg);
        }
      }
    }
  }
}
.title-h1{
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%; /* 68.4px */
  letter-spacing: -2.88px;
  margin-bottom: 30px;
}

.read-block{
  padding: 60px 0 50px;
  .title-h2{
    margin-bottom: 57px;
  }

  .swiper-slide{
    figure{
      height: 300px;
      overflow: hidden;
      border-radius: 24px;
      margin-bottom: 24px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all .4s ease;
      }
      &:hover{
        img{
          transform: scale(1.03);
        }
      }
    }
    .list-info{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 15px;
      li{
        margin-right: 10px;
        p{
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 16.8px */
          letter-spacing: -0.28px;
        }
      }
      li:last-child{
        margin-right: 0;
      }
      .teg{
        p{
          border-radius: 50px;
          background:#E8E8E8;
          padding: 6px 26px;
        }
      }
    }
    h6{
      margin-bottom: 10px;
      a{
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 38.4px */
        letter-spacing: -0.96px;
        &:hover{
          opacity: 0.7;
        }
      }
    }
    .text-p{
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin-bottom: 24px;
    }
    .link-wrap{
      a{
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 21.6px */
        letter-spacing: -0.54px;
        img{
          margin-left: 12px;
          vertical-align: top;
          transition: all .4s ease;
        }
        &:hover{
          img{
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.title-img-text{
  padding: 58px 0 112px;
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .title-wrap{
    width: 44%;
    margin-bottom: 30px;
  }
  .title-h2{
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 67.2px */
    letter-spacing: -2.8px;
    margin-bottom: 0;
  }
  .text-wrap{
    width: 47%;
    margin-bottom: 80px;
    p{
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 27px;
    }
    p:last-child{
      margin-bottom: 0;
    }
  }
  figure{
    width: 100%;
    overflow: hidden;
    border-radius: 32px;
    height: 738px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

}

footer{
  padding: 80px 0 80px;
  background:  #F4F4F4;
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    .left{
      width: 320px;
      p{
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.28px;
      }
    }
  }
  .form{
    width: 532px;
    padding: 0!important;
    p{
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 16.8px */
      letter-spacing: -0.28px;
    }
  }
  .footer-title{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.96px;
    margin-bottom: 20px;
  }
  .footer-menu{
    width: 100%;
    margin: 39px 0 32px;
    padding: 50px 0 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    .item{
      width: 25%;
    }
    .title-menu{
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 28.8px */
      letter-spacing: -0.96px;
      margin-bottom: 15px;
    }
    p{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      a:hover{
        opacity: 0.7;
      }
    }
  }
  .bottom{
    width: 100%;
  }
  .form-email input{
    height: 48px;
    line-height: 48px;
    background: #fff;
    width: calc(100% - 135px);
  }
  .form-email button{
    height: 48px;
    line-height: 48px;
    width: 120px;
    padding: 0;
  }
  .form-email{
    margin-bottom: 16px;
  }
  .bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    p{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.soc{
  display: flex;
  li{
    margin-right: 10px;
    a:hover{
      opacity: 0.7;
    }
    img{
      vertical-align: top;
    }
  }
  li:last-child{
    margin-right: 0;
  }
}
.open-menu{
  display: none;
}

.is-menu{
  overflow: hidden;
}
header.is-active{
  box-shadow: none;
  .top-line{
    box-shadow: none;
  }
}

.form-wrap .bg .mob{
  display: none;
}

.read-block .nav-wrap{
  display: none;
}
/*-------------------------------END-HOME-PAGE-------------------------------*/
/*--------------------------------PP-PAGE-------------------------------*/
.terms{
  padding: 90px 0 147px;
  position: relative;
  .bg{
    img{
      position: absolute;
      top: 200px;
      left: 0;
      width: 100%;
    }
    .mob{
      display: none;
    }
  }
  h1{
    margin-bottom: 152px;
    font-weight: 600;
    font-size: 56px;
    letter-spacing: -2.8px;
  }
  .content{
    padding: 0 67px;
    background: #fff;
  }
  .content-width{
    padding: 0 52px;
  }
  ol{
    margin: 0 0 31px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1.2px;
    padding-left: 0;
    list-style: none;
    &>li{
      counter-increment: li;
      &:before{
        content: counter(li) ".";
        display: inline;
        margin-right: 4px;
        float: left;
      }
      p:first-child{
        margin-bottom: 0;
      }
    }
  }
  ul{
    margin-bottom: 31px;
    &>li{
      position: relative;
      padding-left: 10px;
      &:before{
        position: absolute;
        top: 14px;
        left: 0;
        content: '';
        width: 4px;
        height: 4px;
        background: #000;
        border-radius: 100%;
      }
    }
  }
  .title-h2{
    margin-bottom: 31px;
  }
  p{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1.2px;
    margin-bottom: 31px;
    a{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  h6{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1.2px;
    margin: 31px 0 0;
  }
}
/*-------------------------------END-PP-PAGE-------------------------------*/
/*--------------------------------FAQ-PAGE-------------------------------*/
.faq{
  padding: 115px 0 125px;
  position: relative;
  .bg{
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .top{
    max-width: 90%;
    margin-bottom: 115px;
    p{
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
  h1{
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 67.2px */
    letter-spacing: -2.8px;
    margin-bottom: 22px;
  }
  .content-width{
    padding: 0 167px;
  }
}

.accordion-item{
  border-radius: 28px;
  background:  #FFF;
  margin-bottom: 15px;
}
.accordion-thumb{
  cursor: pointer;
  position: relative;
  min-height: 94px;
  display: flex;
  align-items: center;
  padding: 0 100px 1px 48px;
  p, h2{
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 31.2px */
    letter-spacing: -1.04px;
    margin: 0;
  }
  &:after{
    position: absolute;
    top: 34px;
    right: 60px;
    content: '';
    width: 24px;
    height: 24px;
    background: url('../img/icon-5.svg')no-repeat center;
    background-size: contain;
    transition: all .4s ease;
  }
}

.accordion-panel{
  display: none;
  .wrap{
    padding: 5px 105px 20px 64px;
    p{
      font-size: 26px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 31.2px */
      letter-spacing: -1.04px;
    }
  }
}
/*-------------------------------END-FAQ-PAGE-------------------------------*/
/*-------------------------------LADING-PAGE-------------------------------*/
.form-wrap-android{
  padding: 98px 0 95px;
  .content .top{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0;
    margin-bottom: 21px;
  }
  h1{
    text-align: center;
    font-weight: 600;
    letter-spacing: -2.8px;
    margin-bottom: 55px;
  }
  ul li{
    font-size: 18px;
    line-height: 150%;
  }
  ul li:before {
    top: 12px;
    width: 6px;
    height: 6px;
  }
  .content p{
    letter-spacing: 0;
  }
  .bottom-link a{
    font-size: 12px;
  }
  .bottom-link{
    margin-top: 21px;
  }
}

.testimonials-slider-wrap{
  padding-bottom: 80px;
  .nav-wrap{
    display: none;
  }
  .title-h2{
    font-weight: 600;
  }
  .item blockquote{
    letter-spacing: -1.6px;
    line-height: 130%;
    min-height: 168px;
  }
  .item{
    padding-bottom: 50px;
  }
}

.title-600{
  font-weight: 600!important;
}
.read-block:last-child{
  padding-bottom: 135px;
}
/*-------------------------------END-LADING-PAGE-------------------------------*/
/*-------------------------------BLOG-PAGE-------------------------------*/
.blog{
  position: relative;
  padding-top: 111px;
  padding-bottom: 152px!important;
  .bg{
    img{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: auto;
    }
    .mob{
      display: none;
    }
  }
  p.top{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.28px;
    margin-bottom: 20px;
    text-align: center;
  }
  p.info{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.54px;
    text-align: center;
    margin-bottom: 105px;
  }
  h1{
    text-align: center;
    margin-bottom: 28px;
  }
  .item{
    figure{
      height: 300px;
      overflow: hidden;
      border-radius: 24px;
      margin-bottom: 24px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all .4s ease;
      }
      &:hover{
        img{
          transform: scale(1.03);
        }
      }
    }
    .list-info{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 15px;
      li{
        margin-right: 10px;
        p{
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 16.8px */
          letter-spacing: -0.28px;
        }
      }
      li:last-child{
        margin-right: 0;
      }
      .teg{
        p{
          border-radius: 50px;
          background:#E8E8E8;
          padding: 6px 26px;
        }
      }
    }
    h6{
      margin-bottom: 10px;
      a{
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 38.4px */
        letter-spacing: -0.96px;
        &:hover{
          opacity: 0.7;
        }
      }
    }
    .text-p{
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin-bottom: 24px;
    }
    .link-wrap{
      a{
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 21.6px */
        letter-spacing: -0.54px;
        img{
          margin-left: 12px;
          vertical-align: top;
          transition: all .4s ease;
        }
        &:hover{
          img{
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 55px;
  }
  .btn-wrap{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    .btn-default{
      min-width: 175px;
    }
  }
}
/*------------------------------END-BLOG-PAGE-------------------------------*/
/*-------------------------------POST-PAGE-------------------------------*/
.post-block{
  padding: 75px 0 66px;
  .content-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main{
    width: calc(100% - 495px);
    padding-left: 45px;
    p{
      margin-bottom: 24px;
    }
    figure{
      margin: 63px 0 70px;
      img{
        width: 100%;
        height: auto;
        border-radius: 24px;
      }
      figcaption{
        position: relative;
        padding-left: 10px;
        margin-top: 14px;
        &:before{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          content: '';
          width: 2px;
          background: #000;
        }
      }
    }
  }
  .aside-right{
    width: 355px;
    height: fit-content;
    padding-left: 60px;
    border-left: 1px solid rgba(0, 0, 0, 0.33);
    position: relative;
    top: 10px;
    .title{
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 28.8px */
      letter-spacing: -0.96px;
      margin-bottom: 45px;
      margin-top: -5px;
    }
    ul{
      margin-bottom: 65px;
      li{
        margin-bottom: 32px;
        a{
          position: relative;
          padding-right: 60px;
          display: block;
          width: 100%;
          img{
            transform: rotate(0);
            transition: all .4s ease;
            position: absolute;
            bottom: 5px;
            right: 0;
          }
          &:hover{
            img{
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
  .top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }
  .breadcrumb{
    padding-top: 4px;
  }
  blockquote{
    margin: 50px 0 38px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.96px;
    position: relative;
    padding-left: 23px;
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      content: '';
      width: 2px;
      background: #000;
    }
  }
  h1{
    margin-bottom: 42px;
  }
  h2{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.96px;
    margin: 40px 0 25px;
  }
  h3{
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.96px;
    margin: 35px 0 25px;
  }
  h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.96px;
    margin: 30px 0 25px;
  }
  h5{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.96px;
    margin: 20px 0 25px;
  }
  h6{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.54px;
  }
  .content{
    ul{
      margin: 0 0 30px;
      list-style: disc;
      padding-left: 20px;
      li{
        list-style: disc;
      }
    }
    ol{
      margin: 0 0 30px;
    }
    p{
      a{
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  .share{
    margin-top: 86px;
    h6{
      margin-bottom: 16px;
    }
    .soc-post{
      margin-bottom: 47px;
    }
    .tag{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      li{
        margin: 0 10px 10px 0;
        a{
          display: inline-block;
          border-radius: 50px;
          background: #E8E8E8;
          height: 28px;
          line-height: 28px;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: -0.28px;
          padding: 0 25px;
          &:hover{
            background: #000;
            color: #fff;
          }
        }
      }
    }
    .img-wrap-author{
      margin-bottom: 10px;
      img{
        border-radius: 100%;
        width: 48px;
        height: 48px;
        object-fit: cover;
        object-position: center;
      }
    }
    p.name{
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      span{
        display: block;
        padding-top: 3px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.28px;
      }
    }
  }
}

.breadcrumb{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  li{
    a{
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      &:hover{
        opacity: 0.7;
      }
    }
    span{
      display: inline-block;
      margin: 0 9px;
    }
    p{
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }

}

.soc-post{
  display: flex;
  flex-wrap: wrap;
  li{
    margin-right: 8px;
    a{
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #F4F4F4;
      border-radius: 100%;
      &:hover{
        background: #d2d2d2;
      }
    }
  }
  li:last-child{
    margin-right: 0;
  }
}

.latest-blog{
  .title-h2{
    text-align: center;
    margin-bottom: 100px;
  }
}

footer .footer-menu .item:last-child{
  h6{
    text-align: right;
  }
  .soc{
    justify-content: flex-end;
  }
}

.terms .content{
  padding: 0!important;
}

.terms h1{
  font-size: 54px;
}

.breadcrumb{
  li{
    padding: 0!important;
    &:before{
      display: none!important;
    }
  }
}

.breadcrumb li span{
  position: relative;
  top: 2px;
}
.faq .top{
  margin-top: 30px;
}
.faq .content-width{
  padding: 0 45px;
}

.post-block .share{
  margin-top: 30px;
}
.author-wrap{
  margin-bottom: 40px;
}
/*------------------------------END-POST-PAGE-------------------------------*/
.old-site{
  padding: 50px 0 50px;
  .content-width{
    max-width: 900px;
  }
  .text-center {
    text-align: center;
  }
  h4{
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin: 0 0 9px;
  }
  h1{
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    margin: 0;
  }
  section.narrow {
    max-width: 640px;
    margin: 0 auto;
  }
  section.panel .panel-content {
    padding: 50px 70px;
  }
  p {
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 2em;
  }
  p:last-child {
    margin-bottom: 0;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 70px;
    text-align: left;
  }
  h3{
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 24px;
  }
  .entry-content > p {
    width: 100%;
    max-width: 900px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  h2{
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 40px;
  }
  .entry-content > h2 {
    text-align: left;
  }
  ul.avatars {
    padding: 0;
    max-width: 920px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  li.avatar {
    width: calc(100%/3 - 30px);
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 40px;
  }
  a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    transition: border-color 0.1s;
  }
  .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  b, strong{
    font-weight: 700;
  }
  a:active, a:hover {
    border-color: #eee;
    transition: border-color 0.1s;
  }
}

.old-site{
  .container-toggle {
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid transparent;
    padding-right: 75px;
  }
  .container-toggle:before {
    content: 'view';
    position: absolute;
    right: 0;
    top: 9px;
    font-size: 12px;
    line-height: 100%;
    background-color: rgb(106, 158, 117);
    color: #fff;
    display: block;
    padding: 10px 20px;
    border-radius: 4px;
  }
  .container-toggle:hover {
    border-bottom: 1px solid rgba(106, 158, 117, 0.5);
  }
  .hidden {
    display: none;
  }
  .entry-content > .content-container {
    max-width: 900px;
    text-align: left;
  }
  p.tight {
    margin-bottom: 0;
  }
  ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}


/************NEW********/
.post-block .aside-right ul{
  margin-bottom: 45px;
}
.post-block .aside-right .mail-wrap-block{
  width: 100%;
  .title{
    margin: 0 0 22px;
  }
}
.mail-wrap-block p{
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.mail-wrap-block .form-wrap{
  padding: 11px 0 0;
  .input-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  label{
    display: none;
  }
  input{
    width: calc(100% - 70px);
    border-radius: 90px;
    background: #E8E8E8;
    height: 54px;
    line-height: 54px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 0 24px;
    border: none;
  }
  button{
    border: none!important;
    outline: none!important;
    background: transparent!important;
    cursor: pointer;
    img{
      vertical-align: top;
      transition: all .4s ease;
    }
    &:hover{
      img{
        transform: rotate(-45deg);
      }
    }
  }
}

.latest-blog{
  background: #fff;
}
footer{
  position: relative;
  z-index: 10;
}

.mail-wrap-block-mob{
  display: none;
}

/*-----------------NEW-PAGE-22-01-24--------------*/
.header-bg-none{
  .top-line{
    background: transparent;
    box-shadow: none;
  }
}

.coaching-block{
  position: relative;
  z-index: 4;
  padding: 167px 0 62px;
  .mob-img{
    display: none;
  }
  .bg{
    top: -100px;
    bottom: -200px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .text-block{
    width: 500px;
    margin-left: 73px;
  }
  h1{
    line-height: 117%;
    margin-bottom: 26px;
  }
  ul{
    margin-bottom: 34px;
    li{
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      padding-left: 20px;
      position: relative;
      &:before{
        position: absolute;
        top: 17px;
        left: 2px;
        content: '';
        background: #000;
        width: 7px;
        height: 7px;
        border-radius: 100%;
      }
    }
  }
  .btn-wrap{
    margin-bottom: 63px;
  }
  .rating{
    padding: 29px 66px;
    background: #fff;
    width: 430px;
    border-radius: 20px;
    .item{
      margin-bottom: 32px;
      p{
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        b{
          font-weight: 600;
          display: block;
          margin-top: 5px;
        }
      }
    }
    .item:last-child{
      margin-bottom: 10px;
    }
  }
  .stars-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    img{
      margin-right: 6px;
    }
    p{
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-left: 0;
    }
  }
}

.btn-big{
  font-size: 17px;
  padding: 0 57px;
}


.img-text{
  position: relative;
  z-index: 5;
  .mob{
    display: none;
  }
  .content{
    border-radius: 20px;
    background: #fff;
    padding: 73px 63px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1160px;
    margin: auto;
  }
  figure{
    width: 31%;
    margin-top: 20px;
  }
  .text{
    width: 60.5%;
    .title{
      margin-bottom: 20px;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 38.4px */
      letter-spacing: -0.96px;
    }
    p{
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 27.2px */
      letter-spacing: -0.34px;
      margin-bottom: 27px;
    }
    ul{
      margin-bottom: 26px;
      li{
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 27.2px */
        letter-spacing: -0.34px;
        padding-left: 30px;
        position: relative;
        &:before{
          position: absolute;
          top: 12px;
          left: 12px;
          width: 5px;
          height: 5px;
          border-radius: 100%;
          content: '';
          background: #000;
        }
      }
    }
    p:last-child{
      margin-bottom: 0;
    }
  }
}

.coach-slider-wrap{
  position: relative;
  z-index: 1;
  padding: 88px 0 100px;
  .mob-bg{
    display: none;
  }
  .mob{
    display: none;
  }
  .bg{
    top: -600px;
    bottom: inherit;
    height: fit-content;
    img{
      width: 100%;
      position: relative;
    }
  }
  .swiper-slide{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 94px;
    .text{
      width: 52%;
      p{
        margin-bottom: 12px;
      }
      .btn-wrap{
        margin-top: 43px;
        a{
          padding: 0 76px;
        }
      }
    }
    figure{
      width: 36%;
      margin-top: 20px;
      img{
        border-radius: 100%;
        margin-bottom: 15px;
        width: 100%;
      }
      figcaption{
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 12px */
        letter-spacing: 0.2px;
        text-transform: uppercase;
        width: 230px;
        margin: auto;
      }
    }
  }
  .title{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.96px;
    margin-bottom: 30px;
  }
  .slider-wrap{
    width: 936px;
    margin: auto;
  }

  .swiper-pagination-bullet{
    opacity: 1!important;
    background: transparent;
    border: 2px solid #000;
    width: 12px;
    height: 12px;
    margin: 0 6px;
  }
  .swiper-pagination-bullet-active{
    background: #000;

  }
}

.plan-couch{
  padding:0 0 100px;
  position: relative;
  .mob-bg{
    display: none;
  }
  .bg{
    height: fit-content;
    bottom: inherit;
    top: -600px;
    display: flex;
    justify-content: flex-end;
    img{
      width: 100%;
    }
  }
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1010px;
    margin: auto;
  }
  .img-wrap{
    width: 38%;
  }
  .text{
    width: 55%;
    padding-top: 7px;
  }
  .title{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 41px; /* 128.125% */
    letter-spacing: -0.96px;
    padding-left: 27px;
    margin-bottom: 59px;
  }
  figure{
    img{
      width: 100%;
      margin-bottom: 10px;
    }
    figcaption{
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 12px */
      letter-spacing: 0.2px;
      text-transform: uppercase;
      text-align: center;
    }
  }
  ol{
    margin: 0 0 30px;
    list-style: none;
    padding: 0;
    li{
      margin-bottom: 26px;
      position: relative;
      padding-left: 15px;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      letter-spacing: -0.34px;
      counter-increment: li;
      b{
        font-weight: 700;
      }
      &:before{
        position: relative;
        top: 0;
        margin-right: 5px;
        text-align: right;
        content: counter(li) ".";
        font-size: 17px;
        font-style: normal;
        line-height: 160%;
        letter-spacing: -0.34px;
        font-weight: 700;
        display: inline-block;
        float: left;
      }

    }
  }
  .btn-wrap{
    margin-top: 46px;
    padding-left: 14px;
  }
}

.faq-block{
  padding: 81px 0 100px;
  position: relative;
  z-index: 10;
  .content{
    width: 990px;
    margin: auto;
  }
  .title{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.96px;
    margin-bottom: 30px;
  }
  .accordion-thumb{
    padding: 0;
    background: transparent;
    min-height: 60px;
    border-radius: 0;
    border-bottom: 1px solid rgba(#000, 0.2);
    h6{
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2; /* 327.778% */
      letter-spacing: -0.54px;
      margin: 0!important;
      padding-right: 30px;
    }
  }
  .accordion-panel{
    .wrap{
      padding: 30px 50px;
    }
    h6{
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 23px; /* 143.75% */
      letter-spacing: -0.48px;
      margin: 0 0 10px;
    }
    p{
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px; /* 143.75% */
      letter-spacing: -0.48px;
      margin-bottom: 10px;
    }
    p + h6{
      margin-top: 30px;
    }
  }
  .accordion-item{
    background: transparent;
    margin-bottom: 0;
  }
  .accordion-thumb:after{
    top: 16px;
    right: 10px;
    content: "+";
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 1; /* 59.28px */
    letter-spacing: -0.78px;
    color: #000;
    width: auto;
    height: auto;
    background: transparent!important;
  }
  .is-active{
    .accordion-thumb:after{
      content: '-';
    }
  }
}

.say{
  padding: 100px 0 100px;
  position: relative;
  z-index: 10;
  .swiper-pagination-bullet{
    opacity: 1!important;
    background: transparent;
    border: 2px solid #000;
    width: 12px;
    height: 12px;
    margin: 0 6px;
  }
  .swiper-pagination-bullet-active{
    background: #000;

  }
  .title{
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 41px; /* 128.125% */
    letter-spacing: -0.96px;
    text-align: center;
    margin-bottom: 77px;
  }
  .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .item{
    width: 100%;
    margin: 0!important;
    p{
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 152.941% */
      letter-spacing: -0.34px;
      min-height: 140px;
      text-align: center;
      margin-bottom: 16px;
    }
    figure{
      text-align: center;
      img{
        width: 68px;
        height: 68px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        margin-bottom: 20px;
      }
      figcaption{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 19.2px */
        letter-spacing: -0.48px;
        text-align: center;
      }
    }
  }
}

.text-center-block{
  padding: 35px 0 150px;
  p{
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; /* 138.462% */
    letter-spacing: -0.78px;
    width: 735px;
    margin: auto;
    text-align: center;
    b{
      font-weight: 600;
    }
  }
}


/*--------------NEW-HEADER--------*/
.top-line{
  .btn-wrap{
    display: flex;
    a{
      font-size: 16px;
      height: 40px;
      line-height: 38px;
      border: 1px solid #000;
      min-width: 162px;
      &:hover{
        background: #fff;
        color: #000;
      }
    }
    a+a{
      margin-left: 20px;
    }
    .btn-border{
      background: #fff;
      color: #000;
      &:hover{
        background: #000;
        color: #fff;
      }
    }
  }
  .lang-wrap{
    margin-left: 20px;
    position: relative;
    a{
      font-size: 16px;
      line-height: normal;
      padding-right: 20px;
      position: relative;
      display: inline-block;
      &:after{
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        content: '';
        display: block;
        height: 7px;
        margin-top: -5px;
        pointer-events: none;
        position: absolute;
        right: 2px;
        top: 50%;
        -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
        transform-origin: 66% 66%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        width: 7px;
      }
    }
    .is-open:after{
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
    ul{
      display: none;
      position: absolute;
      top: 100%;
      left: -10px;
      background: #fff;
      box-shadow: 0px 3px 30px 4px rgba(46, 46, 46, 0.12);
      li{
        a{
          display: inline-block;
          padding: 5px 10px;
          font-size: 16px;
          line-height: 24px;
          &:after{
            display: none;
          }
        }
      }
    }
  }
  .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 991px){
  .top-line .btn-wrap, .top-line .lang-wrap{
    display: none;
  }
  .top-line .right{
    display: block;
  }

  .menu-responsive{
    .btn-wrap{
      display: flex;
      margin: 50px 0 30px;
      a+a{
        margin-left: 15px;
      }
      a{
        font-size: 16px;
        height: 40px;
        line-height: 38px;
        border: 1px solid #000;
        min-width: 150px;
      }

      .btn-border{
        background: #fff;
        color: #000;
      }
    }
    .lang-wrap{
      ul{
        display: flex;
        li{
          margin-right: 20px;
          a{
            padding: 0;
            display: inline-block;
            position: relative;
            &:after{
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              content: '';
              height: 1px;
              background: #000;
              opacity: 0;
            }
          }
        }
        .active{
          a:after{
            opacity: 1;
          }
        }
      }
    }
  }
  .menu-responsive .wrap{
    padding-top: 100px;
  }
}


/*------NEW-22-02-24------*/
.banner-webinar{
  padding: 47px 0;
  .title{
    font-size: 30px;
    line-height: 120%;
    font-weight: 600;
    margin-bottom: 18px;
    letter-spacing: -1px;
  }
  .bg-img-mob{
    display: nonr;
  }
  .content{
    position: relative;
  }
  .bg{
    border-radius: 10px;
    .bg-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .img{
      position: absolute;
      right: -30px;
      bottom: -40px;
    }
  }
  .content-width{
    padding: 0 150px;
  }
  .wrap{
    position: relative;
    z-index: 3;
    padding: 40px 52px 35px;
    max-width: 570px;
  }
  .timer{
    position: absolute;
    top: -30px;
    right: 40px;
    border-radius: 5px;
    background: #F6E6E6;
    display: flex;
    justify-content: center;
    width: fit-content;
    z-index: 10;
    .simply-section{
      width: 67px;
      padding: 8px 0;
      &>div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
    .simply-amount{
      font-size: 17px;
      text-align: center;
      margin-bottom: 1px;
      font-weight: 700;
      line-height: normal;
    }
    .simply-word{
      font-size: 14px;
      line-height: normal;
      font-weight: 400;
      margin-bottom: 3px;
      text-align: center;
    }
  }
  h1{
    font-size: 38px;
    line-height: normal;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0;
  }
  .text-wrap{
    margin-bottom: 18px;
    p{
      display: none;
      font-size: 20px;
      color: #fff;
      line-height: 29px;
      a{
        display: inline-block;
        position: relative;
        font-size: 20px;
        color: #fff;
        line-height: 29px;
        &:after{
          position: absolute;
          bottom: 3px;
          left: 0;
          content: '';
          height: 1px;
          background: #fff;
          width: 100%;
          transition: all .4s ease;
        }
        &:hover{
          &:after{
            transform: scaleX(0);
          }
        }
      }
    }
    p:first-child{
      display: inline;
    }
  }
  .list-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 12px;
    li{
      width: 48%;
      padding-left: 25px;
      position: relative;
      margin-bottom: 10px;
      img{
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        left: 0;
      }
      p{
        font-size: 17px;
        line-height: 150%;
        color: #fff;
        display: inline-block;
        font-weight: 600;
      }
      .old{
        font-weight: 300;
        position: relative;
        margin-left: 10px;
        &:after{
          position: absolute;
          top: 50%;
          left: -2px;
          right: -2px;
          content: '';
          height: 1px;
          background: #fff;
        }
      }
    }
  }
}

.webinar-2x{
  padding: 43px 0 118px;
  .content-width{
    padding: 0 150px;
  }
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 67px 0;
  }
  .item{
    width: 48.5%;
    figure{
      position: relative;
      height: 190px;
      .bg{
        border-radius: 10px 10px 0 0;
        img{
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }
      .people{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 3;
      }
      .info{
        position: absolute;
        bottom: 28px;
        left: 30px;
        z-index: 3;
        width: 200px;
        p{
          font-size: 19px;
          line-height: 25px;
          color: #fff;
          font-weight: 400;
        }
        .name{
          font-weight: 700;
          margin-bottom: 5px;
        }
      }
    }
    .text-wrap{
      padding: 20px 0 0;
      .title{
        font-size: 19px;
        line-height: 25px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      p{
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 19px;
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 5px 24px;
        li{
          display: flex;
          align-items: center;
          img{
            vertical-align: top;
            margin-right: 9px;
            position: relative;
            top: -1px;
          }
          p{
            margin: 0!important;
            font-size: 17px;
            line-height: 150%;
            font-weight: 600;
          }
        }
      }
      .btn-wrap{
        margin-top: 26px;
        a{
          padding: 0 20px;
          min-width: 152px;
        }
      }
    }
  }
}

.recorded-webinars{
  position: relative;
  padding: 72px 0 90px;
  &>.bg{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .title-h3{
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 27px;
    letter-spacing: -1px;
  }
  .btn-wrap{
    a{
      background: transparent;
      color: #000;
      border: 1px solid #000;
      img{
        margin-right: 10px;
        vertical-align: baseline;
        position: relative;
        top: 0px;
      }
      &:hover{
        background: #000;
        color: #fff;
        img{
          filter: invert(1);
        }
      }
    }
  }
  .item figure{
    .user{
      position: absolute;
      bottom: 15px;
      right: 20px;
      border-radius: 100%;
      width: 156px;
      height: 156px;
      object-fit: cover;
      object-position: center;
    }
  }

  .info-block{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-left: 5px solid #9580E6;
    background: #fff;
    height: 108px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .btn{
      width: 175px;
      a{
        width: 100%;
        padding: 0 20px;
      }
    }
    .text-info{
      width: calc(100% - 200px);
      p{
        font-size: 22px;
        line-height: normal;
        b{
          font-weight: 700;
        }
      }
    }
  }
  .content-bottom{
    margin-top: 72px;
  }
}

.subscribe{
  padding: 80px 0;
  .content{
    width: 500px;
    max-width: 100%;
    margin: auto;
  }
  .title-h3{
    text-align: center;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 38px;
    letter-spacing: -1px;
  }
  ul{
    padding-left: 10px;
    margin-bottom: 67px;
    li{
      list-style: disc;
      margin-bottom: 18px;
      line-height: 22px;
    }
  }
  .form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 430px;
    max-width: 100%;
    margin: auto;
    .input-wrap{
      width: calc(100% - 135px);
    }
    label{
      display: none;
    }
    input{
      width: 100%;
      height: 54px;
      line-height: 52px;
      border-radius: 30px;
      padding: 0 20px;
      font-size: 17px;
      color: #000;
      outline: none!important;
      border: 1px solid rgba(#000, 0.3);
    }
    .btn-default{
      width: 128px;
      padding: 0 20px;
    }
  }
}

.simply-seconds-section{
  display: none;
}

.banner-webinar-all .text-wrap p{
  display: block;
}
.banner-webinar-all{
  padding-top:95px;
}

.webinar-big{
  padding: 20px 0 50px;
  .title-h3{
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -1px;
    margin-bottom: 35px;
  }
  .content{
    padding:0 150px;
  }
  .item{
    position: relative;
    margin-bottom: 50px;
    .bg{
      border-radius: 10px;
      .bg-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
      .bg-img-mob{
        display: none;
      }
      .user{
        position: absolute;
        bottom: -1px;
        right: 42px;
      }
    }
    .wrap{
      position: relative;
      z-index: 3;
      padding: 49px 50px 37px;
      width: 700px;
      .title{
        font-size: 38px;
        line-height: normal;
        margin-bottom: 7px;
        color: #fff;
        font-weight: 700;
      }
      p{
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 27px;
      }
      ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 23px;
        width: 470px;
        max-width: 100%;
        li{
          width: 48%;
          padding-left: 25px;
          position: relative;
          margin-bottom: 10px;
          img{
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
            left: 0;
          }
          p{
            font-size: 17px;
            line-height: 150%;
            color: #fff;
            display: inline-block;
            font-weight: 400;
            margin-bottom: 0!important;
          }
          .old{
            font-weight: 300;
            position: relative;
            margin-left: 10px;
            &:after{
              position: absolute;
              top: 50%;
              left: -2px;
              right: -2px;
              content: '';
              height: 1px;
              background: #fff;
            }
          }
        }
      }
    }
  }
  .btn-wrap{
    a{
      background: #fff;
      color: #000;
      &:hover{
        background: #000;
        color: #fff;
      }
    }
  }
}

.webinar-2x .mob-read{
  display: none;
}

.recorded-webinars{
  .content-width{
    position: relative;
  }
  .link-wrap{
    position: absolute;
    top: 15px;
    right: 150px;
    a{
      display: inline-block;
      font-size: 17px;
      line-height: 120%;
      font-weight: 600;
      color: #000;
      position: relative;
      &:after{
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        height: 1px;
        background: #000;
        transition: all .4s ease;
        width: 100%;
      }
      &:hover{
        &:after{
          transform: scaleX(0);
        }
      }
    }
  }
}
